// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@mixin mytheme {

	.v-table-header-wrap{
  		visibility: hidden;
  	}
  
 	
  	.v-table-body-noselection{
  		height: 100% !important;
	  	.v-table-table{
	  		height: 100% !important;
	  	}
  	}
 	
	.v-button .v-icon{
		font-size: 50px;	
	}

	.score-table{
		.v-table-row{
			background-color: white;
		}
		.v-table-row-odd{
			background-color: white;
		}
	}

	.score-table{
		.v-table-cell-content{
			padding: px 0px 0px 0px;
			vertical-align: middle;
			border-right: 0px;
			background-color: #bbada0;
			.v-table-cell-wrapper{
				padding: px 0px 0px 0px;
				.v-label{
					text-align: center;
					font-size: -webkit-xxx-large;
					border-color: #c5c5c5;
					border-radius: 16px;
					border-style: groove;
				}
				.v-label-score-style-0{
					color: #bbada0;
					background-color: #bbada0;
					border-style: groove;	
				}
				.v-label-score-style-2{
					color: #776e65;
					background-color: #eee4da;
					border-style: groove;
				}
				.v-label-score-style-4{
					color: #776e65;
					background-color: #ede0c8;
					border-style: groove;
				}
				.v-label-score-style-8{
					color: #f9f6f2;
					background-color: #f2b179;
					border-style: groove;
				}
				.v-label-score-style-16{
					color: #f9f6f2;
					background-color: #f59563;
					border-style: groove;
				}
				.v-label-score-style-32{
					color: #f9f6f2;
					background-color: #f67c5f;
					border-style: groove;
				}
				.v-label-score-style-64{
					color: #f9f6f2;
					background-color: #f65e3b;
					border-style: groove;
				}
				.v-label-score-style-128{
					color: #f9f6f2;
					background-color: #edcf72;
					border-style: groove;
				}
				.v-label-score-style-256{
					color: #f9f6f2;
					background-color: #edcc61;
					border-style: groove;
				}
				.v-label-score-style-512{
					color: #f9f6f2;
					background-color: #edc850;
					border-style: groove;
				}
				.v-label-score-style-1024{
					color: #f9f6f2;
					background-color: #edc53f;
					border-style: groove;
				}
				.v-label-score-style-2056{
					color: #f9f6f2;
					background-color: #edc22e;
					border-style: groove;
				}
				/* TODO Add the rest of styles */
			}
		}
	}

}
